{{- if .Values.podDisruptionBudget }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "vantage-kubernetes-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vantage-kubernetes-agent.labels" . | nindent 4 }}
    {{- with .Values.appLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end}}
spec:
  selector:
    {{- include "vantage-kubernetes-agent.selectorLabels" . | nindent 4 }}
  {{- toYaml .Values.podDisruptionBudget | nindent 2 }}
{{- end }}
